
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit',sans-serif;
}
p{
    font-size: 1.6rem;
}
h1{
    font-size: 6rem;
   
}
.app{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: rgb(0, 0, 0,0.5);
}
.app:before{
    content: ' ';
    background: url('C:\Users\4t4\Desktop\fullstack\react\weatherApp\src\assets\OIP (1).jpg') no-repeat center center/cover;
    position: absolute;
z-index: -1;
width: 100vw;
height: 100vh;
}
.app .search{
    text-align: center;
    padding: 1rem;
}
.app input{
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgb(255, 255, 255,0.8);
    background-color: rgb(255, 255, 255,0.1);
    color: white;
    text-align: center;

}
::placeholder{
    color: white;
    text-align: center;
}
.container{
    max-width: 100%;
    height: 80vh;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.app .top{
    width: 80%;
    margin: 1rem auto;
}
.app .description{
    position: relative;
    right: -90%;
    bottom: 10%;
    transform-origin: 0 0;
    transform: rotate(269deg);
}
.app .bottom{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(255, 255, 255,0.2);
}

.bold {
    font-weight: 600;
}










